<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="back"> <br>
        <h1>&nbsp;Quora Posts</h1> <br> <hr> <br>
    <%for(post of posts) {%>
        <div class="post">
            <h3>&nbsp;@<%=post.username%></h3> <br>
            <h4>&nbsp;<%=post.content%></h4>
            <br>&nbsp;
            <a href="http://localhost:3000/posts/<%=post.id%>">See in Detail</a> &nbsp;
            <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit</a>
            <br> <br>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">&nbsp;
                <button style="background-color:#4285F4; border-radius: 7px; border-color: #4285F4;">Delete Post</button>
            </form> <br>
        </div>
        <br>
    <%}%>&nbsp;
    <a href="http://localhost:3000/posts/new" style="color:rgb(245, 41, 54);">Create new post</a>
    </div>
    
</body>
</html>